body {
  background-color: #edeef0;
  font-family: 'Cabin', sans-serif;
  color: #2a2b2a;
}

h1 {
  font-size: 36px;
}

h2 {
  margin-bottom: 50px;
}

h3 {
  margin-bottom: 10px;
}

button:active,
button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

header {
  height: 56px;
  background-color: white;
  border-bottom: 1px solid #dce1e6;
}

.header__logo {
  padding-top: 8px;
}

.header__logo img {
  height: 40px;
  margin: 0 auto;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 15px;
}

.header__menu a {
  text-decoration: none;
  color: #2a2b2a;
  font-size: 18px;
  font-weight: 600;
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

.header__menu a:hover {
  color: #2288F5;
  text-decoration: underline;
}

.main {
  display: grid;
  grid-template-columns: 3fr 8fr 3fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-top: 100px;
}

.main__test {
  background-color: white;
  text-align: center;
  padding: 40px;
  border-radius: 4px;
}

.h1__subtitle {
  margin-bottom: 50px;
  color: #2288F5;
  font-size: 18px;
}

.main__test__description {
  text-align: left;
  margin-bottom: 50px;
}

.main__test__description p {
  margin-bottom: 10px;
}

.button__begin-test,
.button__begin-test:target,
.button__answer,
.button__answer:target {
  background-color: #FFA011;
  border: none;
  height: 60px;
  width: 350px;
  border-radius: 100px;
  color: white;
  font-weight: 600;
  font-size: 25px;
  -webkit-box-shadow: 0px 5px 10px rgba(255, 160, 17, 0.5);
          box-shadow: 0px 5px 10px rgba(255, 160, 17, 0.5);
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

.button__begin-test:hover,
.button__answer:hover {
  cursor: pointer;
  background-color: #2288F5;
  -webkit-box-shadow: 0px 5px 10px rgba(34, 136, 245, 0.5);
          box-shadow: 0px 5px 10px rgba(34, 136, 245, 0.5);
}

footer {
  background-color: white;
  height: 90px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  font-size: 14px;
}

footer a {
  color: #2a2b2a;
}

.main___test__task {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Выделяем выбранный ответ в radiobox */

.input__choice_of_shapes[type=radio]:checked + label * {
  border: 1px solid red;
}

/* Выделяем выбранный ответ в radiobox */

.input__anagram[type=radio]:checked + label * {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Убираем bullet в radiobox */

input[type=radio] {
  display: none;
}

.choice_of_shapes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.choice_of_shapes__item,
.test__task__question {
  margin: 0 auto;
}

.main___test__task {
  margin-bottom: 50px;
}

.main__test__otherButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  grid-column-gap: 10px;
}

.otherButton,
.otherButton:target {
  border: 1px solid #FFA011;
  background-color: white;
  height: 40px;
  width: 200px;
  border-radius: 100px;
  color: #2d2d2d;
  font-weight: 600;
  font-size: 14px;
  -webkit-box-shadow: 0px 2px 5px rgba(255, 160, 17, 0.5);
          box-shadow: 0px 2px 5px rgba(255, 160, 17, 0.5);
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

.otherButton:hover {
  cursor: pointer;
  background-color: #FFA011;
  -webkit-box-shadow: 0px 5px 10px rgba(255, 160, 17, 0.5);
          box-shadow: 0px 5px 10px rgba(255, 160, 17, 0.5);
  color: white;
}

.main___test__task__anagram {
  display: block;
}

.test__task__question__anagram {
  margin: 0 auto;
  margin-bottom: 50px;
}

.test__task__answers {
  display: grid;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.test__task__answers input {
  width: 50%;
  margin: 0 auto;
}

.test__task__question__anagram p {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.iq__level {
  margin-bottom: 50px;
}

.iq__level p {
  margin-bottom: 10px;
}

.iq__level table {
  margin: 0 auto;
  /*	border: 1px solid grey;*/
  border-collapse: collapse;
}

.iq__level table td {
  border: 1px solid grey;
  padding: 10px;
}

.test__task__question p {
  font-size: 24px;
}

.main__policy {
  background-color: white;
  /*text-align: center;*/
  padding: 40px;
  border-radius: 4px;
}

.main__policy h2 {
  text-align: center;
}

.main__policy p {
  margin-bottom: 30px;
}

.main__policy__button {
  text-align: center;
}

/* 1423px - 1580px*/

/* 1108px - 1422px*/

/* 992px - 1107px*/

/* 768px - 991px*/

/* 576px - 767px*/

/* 0px - 575px*/

@media screen and (max-width: 1580px) {
  h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 1422px) {
  h1 {
    font-size: 24px;
  }

  footer {
    position: relative;
    margin-top: 50px;
  }
}

@media screen and (max-width: 1107px) {
  h1 {
    font-size: 20px;
  }

  .h1__subtitle {
    font-size: 16px;
  }
}

@media screen and (max-width: 991px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    /*		grid-template-rows: 1fr 8fr 1fr;*/
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-top: 30px;
  }
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {
  .button__begin-test,
  .button__answer {
    width: 100%;
    font-size: 20px;
  }

  .otherButton {
    width: 100%;
    font-size: 12px;
  }

  h1 {
    font-size: 18px;
  }

  .h1__subtitle {
    font-size: 15px;
  }

  h2 {
    font-size: 18px;
  }

  .main___test__task {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 30px;
  }

  .test__task__question__anagram p {
    font-size: 20px;
  }

  .test__task__question p {
    font-size: 17px;
  }
}